{{!ember-grid}}

<div class='declarative'>
  {{! yield injects the declarative components}}
  {{yield _columns}}
</div>

<div class="display">
  {{#if showHeader}}
  	{{eg-render/eg-header columns=_columns width=contentWidth}}
  {{/if}}

  {{eg-render/eg-body
    data=data columns=_columns height=bodyHeight width=contentWidth
    rowHeight=rowHeight scrollX=scrollX scrollY=scrollY }}

  {{#if showFooter}}
  	{{eg-render/eg-footer columns=_columns width=contentWidth}}
  {{/if}}

  {{#if scrollNeeded}}
    {{eg-render/column-scroller/control width=bodyWidth contentWidth=contentWidth}}
  {{/if}}
</div>
