{{! eg-render/eg-header-cell ~}}
{{#if _header ~}}
 {{impl/ed-render portal=_header.portal ~}}
{{else ~}}
	<div class="default {{align}}">
	  {{text}}
	</div>
{{/if}}

{{#if resizable}}
	{{eg-render/eg-header-resize-handle column=_column}}
{{/if}}
