{{yield}}

<h2>Columns</h2>
<ul>
	{{#each columns key="key" as |column|}}
		<li>
		  {{column.title}} : {{column.width}} ({{column.mydata}})
		</li>
	{{else}}
		No columns defined
	{{/each}}
</ul>

<h1>Header</h1>
<div class="header">
  {{#each columns key="key" as |column|}}
    <span class="column">
    {{eg-render/eg-header column=column}}
    </span>
  {{/each}}
</div>