{{#ember-grid width=800 height=200 rowHeight=25 data=data showFooter=true }}

  {{#eg-column 
      key="name" width=250 header="Name" footer="Footer text" 
      min-width=150 max-width=300 align="center"}}
    
    {{#eg-body as |field rowIndex column|}}
      {{rowIndex}}: <strong>{{field}}</strong>
    {{/eg-body}}

  {{/eg-column}}

  {{eg-column key="age" width=50 footer="Age Footer" resizable=false align="center"}}

  {{#eg-column key="salary" field=dollarSalary width=100 header="Salary" footer=averageSalary align="right"}}
    
    {{#eg-header as |column|}}
      <span style="text-align: right;display: block; color:yellow">{{column.header}}</span>
    {{/eg-header}}

  {{/eg-column}}

  {{eg-column key="email" width=150 header="Email" footer="Email Footer"}}
{{/ember-grid}}